@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

body {
    background: url('../background.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.box {
  backdrop-filter: blur(1vw);
  background-color: rgba(0, 0, 0, 0.3);
  width: 35em;
  height: 14em;
  top: 65%; left: 0; bottom: 0; right: 0;
  position: absolute;
  overflow: auto;
  margin: auto;
}

.name {
  font-family: 'JetBrains Mono', monospace;
  color: rgba(225, 225, 225, 0.5);
  text-align: center;
  font-size:6em;
}

.fa-brands {
  color: rgba(225, 225, 225, 0.5);
}

.text {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-size: 3em;
  line-height: 0.3em;
}

@media only screen and (orientation: portrait) {
    .box {
        font-size: 150%;
    }
}

@media only screen
and (min-width : 2160px) {
    body {
        font-size: 300%;
    }
}
